html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

/* Some left and right padding inside the container */
/* .txt-container {
    padding: 0 16px;
} */

/* Clear floats */
/* .txt-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
} */
.outer-box {
    background-color: white;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30.3%;
    margin-left: 9px;
    margin-top:  6px;
    box-sizing: content-box;
    height: 420px;
    margin-bottom: 16px;
    padding: 0 8px;
    display: inline-block;
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .outer-box {
        width: 100%;
        margin-left: 0;
        display: block;
    }
}
.outer-box a {
    text-decoration: none;
}
.outer-box p {
    color: tomato;
    font-size: 19px;
}
.outer-box p:hover {
    color: red;
}
.outer-box .box {
    margin: 0;
    padding: 0;
    height: 250px;
    width: 100%;
}
.main .content1 {
    /* top: 50%; */
    /* position: relative; */
    /* float: left; */
    width: 980px;
    height: auto;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 5px 10px 8px 5px rgba(0, 0, 0, 0.2), 3px 6px 20px 5px rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 1000px){
    .main .content1 {
        margin-left: 45px;
        max-width: 990px;
        background-color: transparent;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 1000px) {
    
    .main .content1 { 
        margin-left: 0;
        max-width: 97%; 
        background-color: white;
        box-shadow: none;
    }
    .outer {
        width: 90%;
    }
    @media screen and (max-width: 212px) {
        .outer {
            margin-left: 2%;
        }
    }
    .border {
        width: 95%;
    }
}

.box {
    width: 30%;
    height: 380px;
    margin-bottom: 16px;
    padding: 0 8px;
    display: inline-block;
    background-color: transparent;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box img {
    max-width: 100%;
}

@media screen and (max-width: 650px) {
    .box {
        width: 100%;
        display: block;
    }
    
}

.main .related-post {
    /* position: relati; */
    display: block;
    width: 694px;
    top: 745px;
    float: left;
}
