body {
    font-family: "Times New Roman", Times, serif;
    transform: translate();

}
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
/* Styling the top nav */
.top-nav {
    position: relative;
    top: 0;
    background-color:#ffffff;
    overflow: hidden;
    /* padding: 4px 16px 4px 16px; */
}
.sticky-nav {
    position: fixed;
    width: 100%;
    top: 0;
}
.top-nav a {
    float: left;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 17px;
}
.top-nav .right-side {
    position: absolute;
    right: 4px;
}
.top-nav .slide-bar {
    position: absolute;
    cursor: pointer;
    display: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 17px;
    right: 4px;
}
/* hide the right sided links and display a slide bar on small screen*/
@media screen and (max-width: 907px) {
    .top-nav .right-side {display: none;}
    .top-nav .slide-bar {display: block;}
}
.left-nav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: tomato;
    opacity: 0.95;
    z-index: 1;
    overflow-x: hidden; /* disable horizontal scroll bar*/
    padding-top: 15px;  /* 50px from top*/
}

.left-nav a, .left-nav .close-btn {
    text-decoration: none;
    color: #f3f3f3;
    padding: 8px 16px 8px 16px;
    margin: 5px auto;
    font-size: 22px;
    display: block;
    transition: 0.2s;
}
.left-nav a:hover, .left-nav .close-btn:hover {
    color: tomato;
    background-color: #f5f5f5;
    cursor: pointer;
}
.left-nav #active {
    background-color: #f5f5f5;
    color: tomato;
}
/* Position the about link 25px from right*/
/* .top-nav #about {
    float: right;
    margin-right: 2px;
} */

/*Style the top nav links*/
.top-nav .open-btn {
    text-decoration: none;
    text-align: center;
    /* padding: 14px; */
    font-size: 17px;
}
/* style the active link*/
.top-nav #active {
    background-color: #d3d3d3;
    border-bottom: 2px solid tomato;
}

.top-nav a:hover {
    background-color: #d3d3d3;
}
.top-nav .slide-bar {
    font-weight: bolder;
}

/** add a media screen to make the topnav responsive(690)*/
/* @media screen and (max-width: 600px){

    .top-nav {
        display: -moz-box;
    }   
} */
.main .content {
    margin-top: 90px;
    margin-left: 255;
    max-width: 750px;
    height: auto;
    border-radius: 10px;
    padding: 2%;
    display: inline-block;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.main .content .box {
    border-radius: 5px;
    padding: 2px;
    height: 65px;
    float: left;
    text-align: center;
    padding: 20px 15px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 10px 8px 0 rgba(0, 21, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.19);
}

.howto {
    font-size: 35px;
    color: tomato;
}

/*Stye the side nav*/
.side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden; /* disable horizontal scroll bar*/
    padding-top: 95px;  /* 50px from top*/
    background-color: #f3f3f3;
    transition: 0.5s;
}

.side-nav a {
    text-decoration: none;
    padding: 8px 8px 8px 5px;
    font-size: 17px;
    display: block;
    transition: 0.2s;
    color: tomato;
}

.side-nav a:hover {
    background-color: #f8f9f9;
}

.side-nav #active {
    color: #f5f5f5;
    background-color: tomato;
}
.top-nav .open-btn {
    display: none;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 23px;
}
.side-nav .close-btn {
    display: none;
    position: absolute;
    right: 26px;
    font-size: 25px;
    font-weight: bold;
    top: 60px;
}
.side-nav .close-btn:hover {
    color: red;
    cursor: pointer;
}
#mySearch {
    width: 100%;
    font-size: 15px;
    padding: 11px;
    border: 1px solid tomato;
}

/* @media screen and (max-width: 900px) {
    .side-nav {display: none;}
    .top-nav .open-btn {display: block;}
    .main .content {left: 2%;}
    .side-nav .close-btn {display: none;}
} 
@media screen and (max-width: 600px) {
    .main .content {
        max-width: 250px;
    }
}
@media screen and (max-width: 400px) {
    
    .main .content {
        background-color: white;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
} */


.image-displayer {
    position: relative;
    top: 0;
    overflow: auto;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
h2, h3 {color: tomato;}
.image-displayer .container {
    margin: 5px auto;
    width: 95%;
}
.image img{
    max-width: 100%;
    height: auto;
}
.image { text-align: center; }
.note {

    padding: 2%;
    background-color: #99ff99;
    font-size: 20px;
    border-radius: 4px;
}

.note .mark {
    border-radius: 50%;
    border: 2px solid black;
    padding: 4px;
}
.suggested {
    padding: 2%;
    background-color: tomato;
    border-radius: 4px;
    font-size: 20px;
}
.suggested h3 {
    color: white;
}
.suggested a {text-decoration: none;}
footer {
    position: relative;
    text-align: center;
    font-size: 17px;
    background-color: #71777c;
    color: #f3f3f3;
    margin: 0;
    bottom: 0;
    width: 100%;
    /* height: 300px; */
    padding-top: 4%;
    display: inline-block;
}
.sep {
    margin-top: 150px;
}
/* footer .txt {
    padding: 17px;
} */
.code {
    font-family: 'Times New Roman', Times, serif;
    width: 620px;
    max-width: 100%;
    margin: 0;
    padding: 2%;
    border-radius: 14px;
    color: white;
    background-color: rgb(22, 22, 48);
    overflow-wrap: break-word;
    box-shadow: 0 10px 8px 0 rgba(0, 21, 0, 0.2), 0 6px 24px 0 rgba(0, 0, 0, 0.19);
}
.code .top { position: relative;}
.code .top span {
    margin-bottom: 14px;
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.a {background-color: red;}
.b {background-color: yellow; }
.c {background-color: green;}
/* .code .top {
    border-bottom: 1px solid darkgreen;
    width: 97%;
} */
.code .line {
    border-bottom: 1px solid darkgreen;
    width: 97%;
}
p, ul {font-size: 19px;}
.code {font-size: 18px;}
p a {
    text-decoration: none;
    color: tomato;
}

.code #py-code #keyword { color: #f7bb15; }
.code #py-code #comment { color: #71777c; }
.code #py-code #string { color: #038f03; }
.code #py-code #function { color: mediumslateblue; }
.code #py-code #number { color: #0081ff;}

.code #java-code #keyword1 { color: #3c2bff; }
.code #java-code #keyword2 { color: #2bff2e; }
.code #java-code #string { color: #ffd240; }
.code #java-code #comment { color: #71777c; }
.code #java-code #number { color: #0081ff; }

.code #c-code #comment { color: #71777c; }
.code #c-code #string { color: #038f03; }
.code #c-code #keyword1 { color: dodgerblue; }
.code #c-code #keyword2 { color: cyan; }
.code #c-code #preprocessor { color: #4615ff;}
.code #c-code #tag { color: #ffbd40;}




@media screen and (min-width: 1000px){
    .side-nav {display: block;}  
    .side-nav .close-btn {display: none;}
    .main .content {
        margin-left: 255px; 
        width: 750px;
        background-color: transparent;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 1000px) {
    
    .side-nav {display: none;}
    .top-nav .open-btn { display: block; }
    .main .content{ 
        margin-left: 0;
        max-width: 100%; 
        background-color: white;
        box-shadow: none;
    }
}

body, html {
  height: 100%;
  margin: 0;
}
.head {
    font-family: "Raleway", sans-serif;
    position: relative;
    line-height: 1.8;
    overflow-wrap: break-word;
    height: 100%;
    width: 100%;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

/* .head .logo {
    position: absolute;
    top: 3%;
    left: 4%;
    font-size: 18px;
    color: white;
} */
.head .text {
    padding: 48px;
    font-size: 20px;
    color: white;
    /* transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%); */
}
.text .large-txt {font-size:50px!important;}
.text .large-txt, .text .small-txt{
    padding: 5px;
    background-color: tomato;
    /* opacity: 0.65; */
}

.noscript, #msg-box {
    position: relative;
    text-align: center;
    font-size: 18px;
    padding: 26px 6px 26px 6px;
    margin: 0;
    width: 100%;
    background-color: tomato;
}

/* Position the close button */
#msg-box .close-btn {
    position: absolute;
    top: 2px;
    right: 3%;
    font-size: 30px;
    font-weight: bolder;
}

#msg-box .close-btn:hover {
    cursor: pointer;
    color: white;
}